/* Custom Props */
:root {
    --slightly-cyan: rgb(95, 180, 162);
    --slightly-cyan-hover: rgba(95, 180, 162, 0.5);
    --slightly-cyan-active: rgba(95, 180, 162, 0.3);
    --dark-blue: rgb(32, 58, 76);
    --grayish-dark-blue: rgb(51, 50, 61);
    --light-grey-bg: rgb(250, 250, 250);
    --light-grey-text: rgb(234, 234, 235);
    --red: rgb(244, 48, 48);
    --ibara-fonts: "Public Sans", serif;
    --public-fonts: "Public Sans", serif;
    --white: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--light-grey-bg);
    font-family: var(--public-fonts);
    color: var(--grayish-dark-blue);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0rem;
    /* overflow-x: hidden; */
}

/* CONTAINER */
.container {
    max-width: 114rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

/* visually-hidden */

.visually-hidden {
    position: absolute;
    width: .1rem;
    height: .1rem;
    margin: -.1rem;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Main Content */
.main-content {
    flex-grow: 1;
}

/* BUTTON FOR OPEN MENU */

.site-nav__open {
    display: none;
}

.site-nav__open-img {
    display: block;
}

/* BUTTON FOR OPEN MENU */

.open .nav-container{
    position: absolute;
    right: 3.2rem ;
    top: 4.8rem;
    width: 22.3rem;
    display: flex;
    flex-direction: column;
    background-color: var(--grayish-dark-blue);
    padding: 4rem 2rem;
    gap: 2rem;
    z-index: 100;
}
.open .nav-container__items .nav-container__items-link{
    color: var(--white);
}
.open .nav-container__items .nav-container__items-link-open{
    color: var(--slightly-cyan);
}

/* BUTTON */
.site-info__btn {
    display: inline-flex;
    align-items: center;
    background-color: var(--dark-blue);
    cursor: pointer;
}

.site-info__btn-icon {
    padding: 0.9rem 1.6rem;
    display: block;
    background-color: rgb(0, 0, 0, 0.1);
}

.site-info__btn-link {
    padding: 0.9rem 3.8rem;
    display: block;
}

.site-info__btn-link span {
    display: inline-block;
    color: var(--white);
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.2rem;
    text-align: center;
}

.site-info__btn:hover {
    color: var(--white);
    background-color: var(--slightly-cyan);
}

/* BUTTON */
.button {
    display: inline-block;
    color: var(--grayish-dark-blue);
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 1.7rem 3.6rem 1.7rem 3.2rem;
    border: 0.1rem solid var(--grayish-dark-blue);
}

.button:hover {
    color: var(--light-grey-bg);
    line-height: -0.1rem;
    text-transform: uppercase;
    background-color: var(--grayish-dark-blue);
}
.button-dark {
    color: var(--light-grey-bg);
    line-height: -0.1rem;
    text-transform: uppercase;
    background-color: var(--grayish-dark-blue);
}
.button-dark:hover{
    color: var(--grayish-dark-blue);
    line-height: -0.1rem;
    text-transform: uppercase;
    background-color: var(--white);
}
.button:active {
    opacity: 0.7;
}

/* SITE-Header */

.site-header__container {
    padding: 6.4rem 2rem 7.5rem;
}

.site-nav {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 5.4rem;
}

.site-nav__logo {
    margin-right: auto;
}

.site-nav__logo-img {
    display: block;
}

.site-nav__logo-img:hover {
    opacity: 0.8;
}

.site-nav__logo-img:active {
    opacity: 0.6;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 4.3rem;
}

.nav-container__items-link {
    color: var(--grayish-dark-blue);
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.2rem;
}

.nav-container__items-link:hover {
    color: var(--slightly-cyan-hover);
}

.nav-container__items-link:active {
    color: var(--slightly-cyan-active);
}

.nav-container__items-link-open {
    color: var(--slightly-cyan);
}

/* SITE_Info */
.site-info {
    position: relative;
    width: 100%;
    height: 60rem;
    background-image: url(../image/bitmap.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.site-info__container {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--light-grey-bg);
    max-width: 44.5rem;
    width: 100%;
    padding: 5.6rem 0 0;
}

.site-info__container-heading {
    margin: 0;
    color: var(--grayish-dark-blue);
    font-family: var(--ibara-fonts);
    font-size: 5rem;
    font-weight: 700;
    line-height: 5rem;
    letter-spacing: -0.04rem;
    margin-bottom: 5.3rem;
}

/* ABOUT ME */

.about {
    padding-top: 7.5rem;
    padding-bottom: 15rem;
}

.about-section {
    display: flex;
    align-items: center;
    gap: 12.5rem;
}

.about-section__image-perosne {
    max-width: 54rem;
    width: 100%;
    height: auto;
}

.about-section__info {
    max-width: 35rem;
    width: 100%;
}

.about-section__info-heading {
    color: var(--grayish-dark-blue);
    font-family: var(--ibara-fonts);
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.2rem;
    letter-spacing: -0.04rem;
    margin-bottom: 2.8rem;
}

.about-section__info-paragraph {
    margin-bottom: 2.4rem;
}

/* SITE-CTA */
.cta {
    padding-bottom: 15rem;
}

.cta-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
    position: relative;
}

.cta-container__text {
    max-width: 38rem;
    width: 100%;
}

.cta-container__text-heading {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.2rem;
    letter-spacing: -0.04rem;
}

.cta-container__line {
    max-width: 47rem;
    width: 100%;
    border-top: 1px solid rgb(51, 50, 61, 0.15);
}

.cta-container__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* SITE-Footer */
.footer {
    background-color: var(--grayish-dark-blue);

}

.footer-container {
    padding: 2.4rem 0;
    display: flex;
    align-items: center;

}

.footer-logo {
    margin-right: 4.8rem;
}

.footer-logo__image {
    display: block;
}

.footer-logo__image:hover {
    opacity: 0.8;
}

.footer-logo__image:active {
    opacity: 0.6;
}

.footer-nav {
    margin-right: auto;
}

.footer-nav__list {
    display: flex;
    align-items: center;
    gap: 4.2rem;
}

.footer-nav__list-item-link {
    color: var(--white);
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.2rem;
    text-align: left;
}

.footer-link {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.footer-link__items-icons-icon {
    display: block;
    color: var(--white);
}

.footer-link__items-icons-icon:hover {
    opacity: 0.8;
}

.footer-link__items-icons-icon:active {
    opacity: 0.6;
}


@media only screen and (max-width: 1060px) {
    .about-section__image-perosne {
        background-position: left center;
    }
}

@media only screen and (max-width: 1000px) {
    /* SITE-ABOUT */
    .about-section {
        gap: 4rem;
    }
    /* SITE-MANAGE */
    .manage{
        gap: 4rem;
    }
}

@media only screen and (max-width: 830px) {
    .about-section {
        flex-direction: column;
    }

    .about-section__info {
        max-width: 50rem;
    }
}

@media only screen and (max-width: 740px) {
    .site-info__container {
        max-width: 51.5rem;
        width: 100%;
    }
    .manage{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}

@media only screen and (max-width: 600px) {

    /* SITE-About */
    .site-info {
        background-size: contain;
        background-position: top;
    }
    
    /* SITE-Footer */
    .footer-container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .footer-logo {
        margin-right: 1.5rem;
    }

    .footer-nav__list {
        gap: 1.2rem;
    }

    .footer-link__items {
        gap: 1.2rem;
    }

    .footer-nav {
        margin-right: 0;
    }
}
@media only screen and (min-width: 501px){
    .site-nav__open {
        display: none;
    }
    .nav-container{
        display: flex;
    }
}
@media only screen and (max-width: 500px) {

    /* SITE-Project */
    .site-header__container {
        padding-bottom: 2rem;
    }

    /* SITE-CTA */
    .cta-container {
        flex-direction: column;
        text-align: center;
    }

    /* BUTTON FOR OPEN MENU */
    .site-nav__open {
        display: block;
    }
    .nav-container{
        display: none;
    }
}

@media only screen and (max-width: 390px) {
    .site-info__container-heading{
        font-size: 3.6rem;
    }
    .site-info{
        height: 60rem;
    }
    /* SITE-Footer */
    .footer-logo {
        margin-bottom: 4rem;
        margin-right: 0;
    }

    .footer-container {
        /* text-align: center; */
        flex-direction: column;
    }

    .footer-nav__list {
        gap: 3.2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-link {
        margin-top: 4rem;
    }
}